version: "3"

services:
  streamer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamer
    volumes:
      - ./logs:/usr/src/logs
    env_file:
      - .env
    networks:
      - shared

networks:
  shared:
    external: true
